<div class="app-body mt-5">
    <main class="main d-flex align-items-center mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form [formGroup]="resetPasswordForm">
                    <h1>Reset Password</h1>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input formControlName="password" type="password" class="form-control" placeholder="Entrez votre nouveau mot de passe" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-user"></i></span>
                        </div>
                        <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirmez votre nouveau mot de passe" required>
                      </div>
                    <div class="row">
                      <div class="col-6">
                        <button type="button" class="btn btn-primary px-4" (click)="reset()">Changer mon mot de passe</button>
                      </div>
                    </div>
                  </form>
                  {{resetPasswordForm.value | json}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  