<div class="animated fadeIn mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Combined All Table
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Secteur</th>
                                <th>Description</th>
                                <th>Editer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let secteur of secteur; let i = index">
                                <td>{{secteur.secteur}}</td>
                                <td>{{secteur.descriptionSecteur}}</td>
                                <td>
                                        <button type="button" class="btn btn-sm btn-primary" (click)="modifierSecteur(i)">Modifier</button>
                                        <button type="button" class="btn btn-sm btn-danger" (click)="supprimerSecteur(i)">Supprimer</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div> <!-- animated fadeIn -->